<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
    <title>paste.solutions</title>

@await Html.PartialAsync("_Styles")
@await Html.PartialAsync("_Favicon")

@if((bool)ViewData["IsIndex"])
{
@await Html.PartialAsync("_OpenGraph")
}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="~/js/site.min.js"></script>
    <meta name="robots" content="nofollow">
</head>
    <body class="hljs">
        <header class="header">
            <div class="icon-container create @((bool)ViewData["CreateDisabled"] ? "disabled" : string.Empty)">
                <i class="material-icons">add</i>
                <span>Create new snippet</span>
            </div>
            <div class="icon-container save @((bool)ViewData["SaveDisabled"] ? "disabled" : string.Empty)">
                <i class="material-icons">save</i>
                <span>Save snippet</span>
            </div>
            <div class="icon-container edit @((bool)ViewData["EditDisabled"] ? "disabled" : string.Empty)">
                <i class="material-icons">edit</i>
                <span>Edit snippet</span>
            </div>
            <div class="error-display">
                <span>Error occurred</span>
            </div>
            <div class="icon-container privacy right">
                <i class="material-icons">import_contacts</i>
                <span>Privacy Policy</span>
            </div>
            <div class="icon-container about right">
                <i class="material-icons">help</i>
                <span>About</span>
            </div>
        </header>
@RenderBody()
        <script>
            $(document).ready(function() {
                $('pre code').each(function() {
                    hljs.highlightBlock(this);
                });
                $('.icon-container.create:not(.disabled)').click(function () {
                    document.location = "/";
                });
                $('.icon-container.about:not(.disabled)').click(function () {
                    document.location = "/about.md";
                });
                $('.icon-container.privacy:not(.disabled)').click(function () {
                    document.location = "/privacy.md";
                });
            });
        </script>
@RenderSection("Scripts", required: false)
    </body>
</html>
